# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variable files
.env

# Local Mac files
.DS_Store

# Flask uploads or temp folders
uploads/

# VS Code
.vscode/
